curs-07/simple-express/node_modules/
curs-07/simple-api/node_modules/
curs-07/simple-classic/node_modules/
curs-07/re-paste-v0.5/node_modules/
curs-08/general/node_modules/
curs-09/node_modules/
curs-10/simple-app/server/node_modules/
